#sponsors {
    h3 {
        margin-top: 15px;
    }

    .spons-box { /* Do not include sponsor in the name of the CSS because Ublock blocks it */
        position: relative;
        display: block;
        max-width: 650px;
        margin: 0 auto;
        padding: 5px 0;

        img {
            max-height: 250px;
        }
    }
}